body{
	box-sizing: border-box;
}

.main-content{
	max-width:750px;
	margin: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.login{
	float: left;
	align: center;
}


div.input-group{
	width: 80px;
}

span.plus_minus{
	display: inline-block;
	margin: 0px 10px;
	width: 50px;
}

span.plus_minus .btn{
	display: inline-block;
	font-size: 10px;
	padding: 3px 6px;
}

.team_name{
	font-size: 2em;
	width: 75%;
	display: inline-block;
}

table .team_name{
	width: 100%;
}

.score{
	font-size: 2em;
	margin: 30px;
}

.form-control.input-number{
	display: inline-block;
	height: 22px;
	padding: 4px 0px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.list-group, .list-group-item{
    padding: 15px;
    overflow: auto;
}


.pagination{
	display: inline-block;
	font-size: 10px;
	padding: 3px 6px;
	width: 80px;
}

p.username{
	font-size: 2em;
}

.matches{
	padding: 25px;
}

.highscore h3{
	text-align: center;
}

.score-section{
	padding: 10px 25px;
}

.highscore .total-score{
	float: left;
}

.highscore .round-score{
	float: right;
}

.score-section span:first-of-type span{
	color: red;
}
