body{
	box-sizing: border-box;
	padding-top: 70px;
}

.main-content{
	max-width:750px;
	margin: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.pagination{
	
}

.pagination{
	display: inline-block;
	font-size: 10px;
	padding: 3px 6px;
	margin: 10px 0px;
}

.right{
	position: absolute;
	right:0px;
}

.navbar-brand{
	font-size: 2em;
	margin-top: auto;
}
.navbar-brand:first-letter{
	text-transform: uppercase;
}


.form-control.input-number{
	display: inline-block;
	height: 22px;
	padding: 4px 0px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

span.plus_minus{
	display: inline-block;
	margin: 0px 10px;
	width: 50px;
}

span.plus_minus .btn{
	display: inline-block;
	font-size: 10px;
	padding: 3px 6px;
}


.bet{
	margin-top: 10px;
}

.team_name{
	font-size: 2em;
	width: 75%;
	display: inline-block;
	white-space: nowrap;
}

table .team_name{
	width: 100%;
}

.score{
	font-size: 2em;
	margin: 30px;
}

.summary{
	float: right;
}

.summary tr{
	padding: 0px;
	margin: 0px;
}

.summary .key{
	width: 100px;
	display: inline-block;
}
.summary span{
	font-size: 0.8em;
}

.list-group, .list-group-item{
    padding: 0px;
    overflow: auto;
}

.wrapper{
	margin: 0px;
	padding: 0px;
}


p.username{
	font-size: 2em;
}

.matches{
	padding: 20px 10px;
}

.highscore h3{
	text-align: center;
}

.highscore-list-item h3,
.highscore-list-item h4{
	text-transform: uppercase;
}

tr.highscore-entry{
	cursor:pointer;
}

td.highscore-username{
	width: 110px;
}

td.highscore-username:first-letter {
    text-transform: uppercase;
}

.highscore-section{
	padding: 10px 25px;
}
.highscore-section tr:first-of-type .value{
	color: red;
	font-weight: bold;
}

.highscore .total-score{
	float: left;
}

.highscore .round-score{
	float: right;
}

#popup{
	max-height: 90vh;
	width: auto;
}

.modal-dialog{
	max-height:500px;
}

.modal-body{
	max-height:60vh;
	overflow: auto;
}

tr.two-points .completed-bet-score{
	color: green;
	font-weight: bold;
	font-size: 1.1em;
}

tr.one-points .completed-bet-score{
	color: blue;
	font-weight: bold;
	font-size: 1.1em;
}

tr.zero-points .completed-bet-score{
	color: #870707;
}

/*
#popup table{
	table-layout:auto;
	width:1%;
    white-space:nowrap;
}
*/

#popup td, #popup th{
	padding: 2px 10px;
	margin: 0px 10px;
}



@media (max-width: 500px) {
	
.team_name{
	font-size: 1.2em;
	width: 70%;
	overflow: hidden;
}

.list-group-item{
	padding: 10px;
}

.score{
	font-size: 1.2em;
	margin: 30px;
}

span.plus_minus{
	display: inline-block;
	margin: 0px;
	width: 50px;
}

.team-bet-row{
	padding-bottom: 2px;
}

.main-content{
	padding: 5px;
}

.highscore-section{
	padding: 10px 0px;
}

.summary .key{
	width: 72px;
}

.summary{
	display:none;
}

.show-round{
	float: right;
}


}



